
.board_members_para1 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.board_members_para2 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.board_members_para3 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.board_members_para4 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.board_members_para5 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.mod5_board_members_rectangle1 {
    height: auto;
    width: 560px;
    background-color: #FFF;
    border: 2px solid #3D8E93;
    padding: 20px;
}

.mod5_board_members_rectangle2 {
    height: 300px;
    width: 390px;
    background-color: #FFF;
    border: 2px solid #3D8E93;
    padding: 10px;
    margin-top: 110px;
    margin-left: -35px;
}

.mod5_board_members_rectangle3 {
    height: auto;
    width: auto;
    background-color: #FFF;
    border: 2px solid #3D8E93;
    padding: 20px;
    position: absolute;
    top: 0px;
    display: none;
}

.mod5_board_members_font_style1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    color: #000;
}

.mod5_board_members_font_style2 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.mod5_board_members_font_style3 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    margin-left: -22px; 
}

.mod5_board_members_font_style4 {
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.model-close-image{
  position: absolute;
  right:10px;
  top:10px;
  cursor: pointer;
}

.smart-criteria-example-button img {
    cursor: pointer;
    width: auto;
    margin-top: 30px;
}

.smart-criteria-example-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Artboard_2_100{
    width: 100%;
    box-shadow: 2px 2px 11px #7f7c7c;
    margin-top: 50px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 992px) {

  .mod5_board_members_rectangle2 {
    height: 300px;
    width: 390px;
    background-color: #FFF;
    border: 2px solid #3D8E93;
    padding: 10px;
    margin-top: 110px;
    margin-left: 0px;
  }

}

/*** Mpbile Landscape *****/

@media only screen and (min-device-width: 360px) and (max-device-width: 767.98px) and (orientation: landscape) {

    .mod5_board_members_rectangle1 {
        height: auto;
        width: auto;
        background-color: #FFF;
        border: 2px solid #3D8E93;
        padding: 20px;
        /* margin-right: 20px; */
    }

    .mod5_board_members_rectangle2 {
        height: 300px;
        width: 390px;
        background-color: #FFF;
        border: 2px solid #3D8E93;
        padding: 10px;
        margin-top: -2px;
        margin-left: 140px;
    }

    .smart-criteria-example-button img {
        cursor: pointer;
        width: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .Artboard_2_100{
        margin-top: 0px;
    }

}

/* Mobile (portrait) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-width: 767.98px) and (orientation: portrait) {

    .mod5_board_members_rectangle1 {
        height: auto;
        width: auto;
        background-color: #FFF;
        border: 2px solid #3D8E93;
        padding: 20px;
        /* margin-right: 20px; */
    }

    .mod5_board_members_rectangle2 {
        height: 130px;
        width: 240px;
        background-color: #FFF;
        border: 2px solid #3D8E93;
        padding: 10px;
        margin-top: -2px;
        margin-left: 55px;
    }

    .smart-criteria-example-button img {
        cursor: pointer;
        width: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .Artboard_2_100{
        margin-top: 0px;
    }

}

/*** Ipad Ptrait*****/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    .mod5_board_members_rectangle2 {
        height: 300px;
        width: 390px;
        background-color: #FFF;
        border: 2px solid #3D8E93;
        padding: 10px;
        margin-top: -2px;
        margin-left: 130px;
    }

    .mod5_board_members_rectangle1 {
        height: auto;
        width: auto;
        background-color: #FFF;
        border: 2px solid #3D8E93;
        padding: 20px;
    }

    .smart-criteria-example-button img {
        cursor: pointer;
        width: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .Artboard_2_100{
        margin-top: 0px;
    }

}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

  .mod5_board_members_rectangle2 {
      height: 300px;
      width: 390px;
      background-color: #FFF;
      border: 2px solid #3D8E93;
      padding: 10px;
      margin-top: 120px;
      margin-left: -4px;
  }

  .Artboard_2_100{
      margin-top: 50px;
  }

}