/*----Slide11to14------*/

/* Accessibility Start */

.dissemination_release_of_reports_mod8_plus {
  background-color: transparent;
  border: none;
}

.dissemination_release_of_reports_mod8_minus {
  background-color: transparent;
  border: none;
}


/* Accessibility End */

.description_slide12{
  position: absolute;
  justify-content: center;
  width: 1140px;
  height: 768px;
  /*background-image: url("../images/3_desktop_view.jpg");*/
  border-radius: 20px;
  left: 300px;
  top: 80px;
}

.custom_tooltip_mod3 {
    color: #900000 !important;
}

.tab4{
  tab-size: 4;
}

.topPadding50 {
  padding-top: 10px;
}

.container_slide11{
  /*position: absolute;*/
  height: auto;
  /* width: 950px; */
  /*left: 100px;*/
  /*top: 130px;*/
}

.topleft_slide12{
  position: absolute;
  top: 201px;
  left: 300px;
}

.description_slide13{
  position: absolute;
  justify-content: center;
  width: 1140px;
  height: 768px;
  /*background-image: url("../images/3_desktop_view.jpg");*/
  border-radius: 20px;
  left: 300px;
  top: 80px;
}

.topleft_slide13{
  position: absolute;
  top: 201px;
  left: 300px;
}

.description_slide14{
  position: absolute;
  justify-content: center;
  width: 1140px;
  height: 768px;
  /*background-image: url("../images/3_desktop_view.jpg");*/
  border-radius: 20px;
  left: 300px;
  top: 80px;
}

.topleft_slide14{
  position: absolute;
  top: 201px;
  left: 300px;
}

/*----Slide11-----*/

.intro_parent1_slide11_1 {
  /*position: relative;*/
  left: 20px;
  top: 150px;
}

.intro_parent1_slide11_1_color{
  background-color: #2FB5B7 !important;
}

.introSubHeader_slide11_1_rect_text{
  color: #000000 !important;
}

.intro_parent1_slide11_2_color{
  background-color: #2FB5B7 !important;
}

.introSubHeader_slide11_2_rect_text{
  color: #000000 !important;
}

.intro_parent1_slide11_3_color{
  background-color: #2FB5B7 !important;
}

.introSubHeader_slide11_3_rect_text{
  color: #000000 !important;
}

.intro_parent1_slide11_2 {
  /*position: relative;*/
  left: -367px;
  top: 220px;
}

.intro_parent1_slide11_3 {
  /*position: relative;*/
  left: 20px;
  top: 250px;
}

.rectangle1_slide11 {
height: 135px;
width: 950px;
/*background-color: white;*/
}

.rectangle1_slide11_01_the_boi

{
  border-radius: 0px;
  border: 1px solid #2FB5B7;
  background-color: white;
  padding: 10px 20px 20px 20px;
  width: 387px;
  height: 45px;
}

.img_fluid_slide11{
  /*position: relative;*/
  /* left: 15px; */
  /*top: 0px;*/
  /* width: 550px; */
  /*height: 300px;*/
}

.slide11_rectangle_1_the_boi{
/* cursor: pointer; */
    padding-top: 80px;
    padding-top: initial;   
    margin: -2px 0px 0px 0px;
}

.slide11_rectangle_2_the_boi{
/* cursor: pointer; */
/*padding-top: 20px;*/
    margin: -2px 0px 0px 0px;
}

.slide11_rectangle_3_the_boi{

    margin: -2px 0px 0px 0px;
}

.slide11_rectangle_3{
/* cursor: pointer; */
padding-top: 20px;
}

.introSubHeader_slide1114_the_boi{
font-family: Arial;
font-size:16px;
color:#000000;
padding: 0px 49px 0px 0px;
margin-left: 0px;
}

.introSubHeader_slide1114_select_the_boi{
font-family: Arial;
font-size:16px;
color:#CF5F1B;
/* font-weight:bold; */
font-style:italic;
margin-left: 0px;
margin-top: -10px;
}

.introSubHeader_slide1114_rect_the_boi{
font-family: Arial;
font-size:16px;
color:#000000;
font-weight:bold;
/*text-align:center;*/
}

.img_fluid_slide11 {
    width: 100%;
    height: auto;
    /*padding: 48px 15px 10px 15px;*/
  }

  .main_img_slide14{
    position: absolute;
    top: 250px;
    left: 650px;
  }
  
  .container_slide11 {
    width: 100%;
  }
  
  .rectangle1_slide11_01_the_boi {
    width: 98%;
    height: 40px;
    padding: 10px 0px 10px 70px;
    margin: 10px 0px 0px 0px;
    text-align: center;
  }
  
  .rectangle1_slide11_01_the_boi p {
    margin-bottom: 0;
  }
  
  .introSubHeader_slide14_style {
    width: 100%;
  }
  
  .rectangle1_slide12_01_1,
  .rectangle1_slide13_01,
  .rectangle1_slide14_01 {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  /*----Slide12-----*/

/* .rectangle1_slide12 {
  height: 135px;
  width: 950px;
  background-color: white;
} */

.rectangle1_slide12_01

{
    border-radius: 0px;
    border: 1px solid #000000;
    background-color: white;
    padding: 20px 20px 20px 5px;
    width: 634px;
    height: 404px;
}

.rectangle1_slide12_001

{
    border-radius: 0px;
    border: 1px solid #053296;
    background-color: white;
    padding: 10px 20px 20px 20px;
    width: 387px;
    height: 45px;
}

.intro_parent1_slide12 {
    /*position: relative;*/
    left: 400px;
    top: -55px;
}

.intro_parent1_slide12_1 {
    /*position: relative;*/
    left: 40px;
    top: -160px;
}

.intro_parent1_slide12_2 {
    /*position: relative;*/
    left: 40px;
    top: -140px;
}

.intro_parent1_slide12_3 {
    /*position: relative;*/
    left: 40px;
    top: -120px;
}

/*----Slide13-----*/


.rectangle1_slide12_01_1 {
    /* border-radius: 0px;
    border: 1px solid #000000;
    background-color: white; */
    padding: 60px 20px 60px 21px;
    /* width: 548px;
    height: 378px; */
}

.intro_parent1_slide13{
    /*position: relative;*/
    left: 402px;
    top: -47px;
}

.rectangle1_slide13_01 {
    /* border-radius: 0px;
    border: 1px solid #000000;
    background-color: white; */
    padding: 10px 10px 10px 10px;
    /* width: 548px; */
    /* height: 369px; */
}

.intro_parent1_slide14{
    /*position: relative;*/
    left: 400px;
    top: -47px;;
}

.rectangle1_slide14_01 {
    /* border-radius: 0px;
    border: 1px solid #000000;
    background-color: white; */
    padding: 0px 0px 0px 5px;
    /* width: 548px; */
    /* height: 370px; */
}

.introHeader_slide14_style{
  margin-top: -21px;
  margin-left: -15px;
}

.introSubHeader_slide14_style{
  font-family: Arial;
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}

.introSubHeader_slide13_style{
  font-family: Arial;
  font-size:16px;
  color:#000000;
  margin-bottom: 5px;
}

.introSubHeader_slide12_style{
  font-family: Arial;
  font-size:16px;
  color:#000000;
  margin-bottom: 5px;
}

.introSubHeader_slide1114_plus{
  /*position: relative;*/
  font-size: 20px;
  font-weight: bold;
  /*top: -50px;*/
  /*left: 335px;*/
  cursor: pointer;
}

.introSubHeader_slide1114_minus{
  /*position: relative;*/
  font-size: 20px;
  font-weight: bold;
  /*top: -50px;*/
  /*left: 335px;*/
  cursor: pointer;
}

.introSubHeader_slide1114_plus1{
  /*position: relative;*/
  font-size: 20px;
  font-weight: bold;
  /*top: -30px;*/
  /*left: 335px;*/
  cursor: pointer;
}

.introSubHeader_slide1114_minus1{
  /*position: relative;*/
  font-size: 20px;
  font-weight: bold;
  /*top: -30px;*/
  /*left: 335px;*/
  cursor: pointer;
}

.introSubHeader_slide1114_plus2{
  /*position: relative;*/
  font-size: 20px;
  font-weight: bold;
  /*top: -30px;*/
  /*left: 335px;*/
  cursor: pointer;
}

.introSubHeader_slide1114_minus2{
  /*position: relative;*/
  font-size: 20px;
  font-weight: bold;
  /*top: -30px;*/
  /*left: 335px;*/
  cursor: pointer;
}

.show_slide12_section1_the_boi, .show_slide13_section2_the_boi, .show_slide14_section3_the_boi{
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 98%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}

 .plus_minus_area_1{
      margin: -7px 0px 0px 40px;
  }

  .plus_minus_area_2{
    margin: -7px 0px 0px 40px;
  }

  .plus_minus_area_3{
    margin: -7px 0px 0px 40px;
  }

  .text_with_image_the_boi{
    margin-top: 20px;
    height: 430px;
    margin-left: 0px;
  }

  .plus_minus_area_1_after_click{
    margin: -5px 0px 0px 40px;
  }

  .plus_minus_area_2_after_click{
    margin: -5px 0px 0px 40px;
  }

  .plus_minus_area_3_after_click{
    margin: -5px 0px 0px 40px;
  }

  .intro_parent_accordian_mod8{
    margin-bottom: 10px;
    float: left;
  }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 992px) {

 
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  
  .plus_minus_area_1{
    /*margin: -53px 0px 22px 322px !important;*/
  }

  .plus_minus_area_2{
    /*margin: -53px 0px 17px 322px !important;*/
  }

  .plus_minus_area_3{
    /*margin: -40px 0px -6px 322px !important;*/
  }

  .rectangle1_slide11_01_the_boi {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 70px;
    margin: 10px 0px 0px 0px;
  }

  .img_fluid_slide11 {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px 15px 10px 15px;
  }

  .introSubHeader_slide1114_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#000000;
  }

  .introSubHeader_slide1114_select_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#CF5F1B;
    /*font-weight:bold;*/
    font-style:italic;
  }

  .introSubHeader_slide1114_rect_the_boi{
    font-family: Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
    /*text-align:center;*/
  }

  .offset-0_5 {
    margin-left: 0 !important;
  }

  .introHeader_slide14_style {
    margin-top: 0;
  }

  .mt_2_device{
    margin-top: .5rem!important;
  }

  .boi_fun_img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 10px 10px 10px;
  }

  .plus_minus_area_1{
    margin: -10px 0px -14px 60px;
  }

  .plus_minus_area_2{
    margin: -10px 0px -14px 60px;
  }

  .plus_minus_area_3{
    margin: -10px 0px -14px 60px;
  }

  .img_fluid_slide11 {
    width: 100%;
    height: auto;
    /* top: 0; */
    /* left: 0; */
    padding: 10px 45px 10px 15px;
  }

  .main_img_slide14{
    position: relative;
    left: 0px;
    top: 0px;
  }

  .text_with_image_the_boi {
    margin-top: 0px;
    height: 430px;
  }

  .rectangle1_slide11_01_the_boi p {
      margin-bottom: 0;
      padding: 0px 5px 0px 0px;
  }

  .plus_minus_area_1_after_click{
    margin: -6px 0px -7px 55px;
  }

  .plus_minus_area_2_after_click{
    margin: -6px 0px -7px 55px;
  }

  .plus_minus_area_3_after_click{
    margin: -6px 0px -7px 55px;
  }

  .show_slide12_section1_the_boi, .show_slide13_section2_the_boi, .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 100%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
  }
  
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 991.98px) and (orientation: portrait) {

  .mt-5, .my-5 {
    margin-top: 0px !important
  }

  .plus_minus_area_1{
    /*margin: -38px 0px -8px 620px !important;*/
  }

  .plus_minus_area_2{
    /*margin: -42px 0px -6px 620px !important;*/
  }

  .plus_minus_area_3{
    /*margin: -39px 0px -6px 620px !important;*/
  }

  .rectangle1_slide11_01_the_boi {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 70px;
    margin: 10px 0px 0px 0px;
  }

  .img_fluid_slide11 {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 10px 15px 10px 15px;
  }

  .introSubHeader_slide1114_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#000000;
  }

  .introSubHeader_slide1114_select_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#CF5F1B;
    /*font-weight:bold;*/
    font-style:italic;
  }

  .introSubHeader_slide1114_rect_the_boi{
    font-family: Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
    /*text-align:center;*/
  }

  .offset-0_5 {
    margin-left: 0 !important;
  }

  .introHeader_slide14_style {
    margin-top: 0;
  }

  .mt_2_device{
    margin-top: .5rem!important;
  }

  .boi_fun_img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 10px 10px 10px;
  }

  .plus_minus_area_1{
    margin: -8px 0px -9px 10px;
  }

  .plus_minus_area_2{
    margin: -8px 0px -9px 10px;
  }

  .plus_minus_area_3{
    margin: -8px 0px -9px 10px;
  }

  .img_fluid_slide11 {
    width: 100%;
    height: auto;
    /* top: 0; */
    /* left: 0; */
    padding: 10px 45px 10px 15px;
  }

  .main_img_slide14{
    position: relative;
    left: 0px;
    top: 0px;
  }

  .text_with_image_the_boi {
    margin-top: 0px;
    height: 430px;
  }

  .rectangle1_slide11_01_the_boi p {
      margin-bottom: 0;
      padding: 0px 5px 0px 0px;
  }

  .plus_minus_area_1_after_click{
    margin: -10px 0px -7px 0px;
  }

  .plus_minus_area_2_after_click{
    margin: -10px 0px -7px 0px;
  }

  .plus_minus_area_3_after_click{
    margin: -10px 0px -7px 0px;
  }

  .show_slide12_section1_the_boi, .show_slide13_section2_the_boi, .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 100%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
  }

}

/* Mobile (landscape) ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .plus_minus_area_1{
    margin: -29px 0px -6px 575px;
  }

  .plus_minus_area_2{
    margin: -29px 0px -6px 575px;
  }

  .plus_minus_area_3{
    margin: -29px 0px -6px 575px;
  }

  .rectangle1_slide11_01_the_boi {
    width: 94%;
    height: 40px;
    padding: 10px 0px 10px 30px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    margin-left: 45px;
    float: left;
  }

  .img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 16px 10px 15px;
  }

  .text_with_image_the_boi {
     margin-top: 0px; 
    height: 430px;
    margin-left: -50px;
  }

  .introSubHeader_slide1114_rect_the_boi {
    font-family: Arial;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    /* text-align: center; */
  }

  .plus_minus_area_1_after_click{
    margin: -29px 0px -6px 575px;
  }

  .plus_minus_area_2_after_click{
    margin: -29px 0px -6px 575px;
  }

  .plus_minus_area_3_after_click{
    margin: -29px 0px -6px 575px;
  }

  .main_img_slide14 {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .main_img_slide14 {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .introSubHeader_slide1114_select_the_boi {
    font-family: Arial;
    font-size: 14px;
    color: #CF5F1B;
    /* font-weight: bold; */
    font-style: italic;
    margin-left: 0px;
  }

  .introSubHeader_slide1114_the_boi {
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  
  .show_slide12_section1_the_boi, .show_slide13_section2_the_boi, .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 94%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 10px 45px;
    float: left;
  }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .plus_minus_area_1{
    margin: -27px 0px -6px 510px;
  }

  .plus_minus_area_2{
    margin: -27px 0px -6px 510px;
  }

  .plus_minus_area_3{
    margin: -27px 0px -6px 510px;
  }

  .img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 16px 10px 15px;
  }

  .text_with_image_the_boi {
     margin-top: 0px; 
    height: 430px;
  }

  .introSubHeader_slide1114_rect_the_boi {
    font-family: Arial;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    /* text-align: center; */
  }

  .plus_minus_area_1_after_click{
    margin: -27px 0px -6px 510px;
  }

  .plus_minus_area_2_after_click{
    margin: -27px 0px -6px 510px;
  }

  .plus_minus_area_3_after_click{
    margin: -27px 0px -6px 510px;
  }

  .main_img_slide14 {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .main_img_slide14 {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .introSubHeader_slide1114_select_the_boi {
    font-family: Arial;
    font-size: 14px;
    color: #CF5F1B;
    /* font-weight: bold; */
    font-style: italic;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
  }

  .rectangle1_slide11_01_the_boi {
    width: 93%;
    height: 40px;
    padding: 10px 0px 10px 30px;
    /*margin: 10px 0px 0px 0px;*/
    text-align: center;
    margin-left: 45px;
    float: left;
  }

  .introSubHeader_slide1114_the_boi {
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
  }

  .show_slide12_section1_the_boi, .show_slide13_section2_the_boi, .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 93%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 45px;
  }

}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) {
  .plus_minus_area_1{
    margin: -29px 0px -4px 480px;
  }

  .plus_minus_area_2{
    margin: -29px 0px -4px 480px;
  }

  .plus_minus_area_3{
    margin: -29px 0px -4px 480px;
  }

  .img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 16px 10px 15px;
  }

  .text_with_image_the_boi {
     margin-top: 0px; 
    height: 430px;
  }

  .introSubHeader_slide1114_rect_the_boi {
    font-family: Arial;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    /* text-align: center; */
  }

  .plus_minus_area_1_after_click{
    margin: -29px 0px 0px 480px;
  }

  .plus_minus_area_2_after_click{
    margin: -29px 0px 0px 480px;
  }

  .plus_minus_area_3_after_click{
    margin: -29px 0px 0px 480px;
  }

  .main_img_slide14 {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .introSubHeader_slide1114_select_the_boi {
    font-family: Arial;
    font-size: 14px;
    color: #CF5F1B;
    /* font-weight: bold; */
    font-style: italic;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
  }

  .rectangle1_slide11_01_the_boi {
    width: 93%;
    height: 40px;
    padding: 10px 0px 10px 30px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    margin-left: 45px;
    float: left;
  }

  .introSubHeader_slide1114_the_boi {
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
  }
  
  .show_slide12_section1_the_boi, .show_slide13_section2_the_boi, .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 93%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 0px 45px;
  }

}

/* Mobile (portrait) ----------- */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {

  .introSubHeader_slide1114_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#000000;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }

  .introSubHeader_slide1114_select_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#CF5F1B;
    /* font-weight:bold; */
    font-style:italic;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }

  .introSubHeader_slide1114_rect_the_boi{
    font-family: Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
    /*text-align:center;*/
  }

  .rectangle1_slide11_01_the_boi {
    width: 90%;
    height: 35px;
    padding: 10px 0px 10px 30px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    margin-left: 40px;
    float: left;
  }

  .offset-0_5 {
    margin-left: 0 !important;
  }

  .introHeader_slide14_style {
    margin-top: 0;
  }

  .mt_2_device{
    margin-top: .5rem!important;
  }

  .boi_fun_img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 10px 10px 10px;
  }

  .plus_minus_area_1{
    margin: -29px 0px 0px 225px;
  }

  .plus_minus_area_2{
    margin: -29px 0px 0px 225px;
  }

  .plus_minus_area_3{
    margin: -29px 0px 0px 225px;
  }

  .img_fluid_slide11 {
    width: 100%;
    height: auto;
    /* top: 0; */
    /* left: 0; */
    padding: 10px 15px 10px 15px;
  }

  .main_img_slide14{
    position: relative;
    left: 0px;
    top: 0px;
  }

  .text_with_image_the_boi {
    margin-top: 0px;
    height: 430px;
    margin-left: -43px;
  }

  .rectangle1_slide11_01_the_boi p {
      margin-bottom: 0;
      padding: 0px 5px 0px 0px;
  }

  .plus_minus_area_1_after_click{
    margin: -29px 0px 0px 225px;
  }

  .plus_minus_area_2_after_click{
    margin: -29px 0px 0px 225px;
  }

  .plus_minus_area_3_after_click{
    margin: -29px 0px 0px 225px;
  }

  .show_slide12_section1_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 90%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 45px 0px 0px 40px;
  }

  .show_slide13_section2_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 90%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 90px 0px 0px 40px;
  }

   .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 90%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 135px 0px 0px 40px;
  }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {

  .introSubHeader_slide1114_the_boi{
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    margin-left: 0px;
    padding: 0px 10px 0px 0px;
  }

  .rectangle1_slide11_01_the_boi {
    width: 85%;
    height: 35px;
    padding: 10px 0px 10px 30px;
    /*margin: 10px 0px 0px 0px;*/
    text-align: center;
    margin-left: 45px;
    float: left;
  }

  .introSubHeader_slide1114_select_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#CF5F1B;
    /* font-weight:bold; */
    font-style:italic;
    margin-left: 0px;
    padding: 0px 10px 0px 0px;
  }

  .introSubHeader_slide1114_rect_the_boi{
    font-family: Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
    /*text-align:center;*/
  }

  .offset-0_5 {
    margin-left: 0 !important;
  }

  .introHeader_slide14_style {
    margin-top: 0;
  }

  .mt_2_device{
    margin-top: .5rem!important;
  }

  .boi_fun_img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 10px 10px 10px;
  }

  .plus_minus_area_1{
    margin: -27px 0px 6px 225px;
  }

  .plus_minus_area_2{
    margin: -27px 0px 6px 225px;
  }

  .plus_minus_area_3{
    margin: -27px 0px 6px 225px;
  }

  .img_fluid_slide11 {
    width: 100%;
    height: auto;
    /* top: 0; */
    /* left: 0; */
    padding: 10px 15px 10px 15px;
  }

  .main_img_slide14{
    position: relative;
    left: 0px;
    top: 0px;
  }

  .text_with_image_the_boi {
    margin-top: 0px;
    height: 430px;
  }

  .rectangle1_slide11_01_the_boi p {
      margin-bottom: 0;
      padding: 0px 5px 0px 0px;
  }

  .plus_minus_area_1_after_click{
    margin: -27px 0px 6px 225px;
  }

  .plus_minus_area_2_after_click{
    margin: -27px 0px 6px 225px;
  }

  .plus_minus_area_3_after_click{
    margin: -27px 0px 6px 225px;
  }

  .show_slide12_section1_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 85%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 45px 0px 0px 0px;
    margin-left: 45px;
  }

  .show_slide13_section2_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 85%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 90px 0px 0px 0px;
    margin-left: 45px;
  }

  .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 85%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 135px 0px 0px 0px;
    margin-left: 45px;
  }

}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {

  .introSubHeader_slide1114_the_boi{
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
  }

  .introSubHeader_slide1114_select_the_boi{
    font-family: Arial;
    font-size:14px;
    color:#CF5F1B;
    /* font-weight:bold; */
    font-style:italic;
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
  }

  .rectangle1_slide11_01_the_boi {
    width: 90%;
    height: 38px;
    padding: 10px 0px 0px 10px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    margin-left: 43px;
    float: left;
  }

  .introSubHeader_slide1114_rect_the_boi{
    font-family: Arial;
    font-size:12px;
    color:#000000;
    font-weight:bold;
    /*text-align:center;*/
  }

  .offset-0_5 {
    margin-left: 0 !important;
  }

  .introHeader_slide14_style {
    margin-top: 0;
  }

  .mt_2_device{
    margin-top: .5rem!important;
  }

  .boi_fun_img_fluid_slide11{
    width: 100%;
    height: auto;
    top: 0;
    left: 0px;
    padding: 10px 10px 10px 10px;
  }

  .plus_minus_area_1{
    margin: -27px 0px 6px 290px;
  }

  .plus_minus_area_2{
    margin: -27px 0px 6px 290px;
  }

  .plus_minus_area_3{
    margin: -27px 0px 6px 290px;
  }

  .img_fluid_slide11 {
    width: 100%;
    height: auto;
    /* top: 0; */
    /* left: 0; */
    padding: 10px 15px 10px 15px;
  }

  .main_img_slide14{
    position: relative;
    left: 0px;
    top: 0px;
  }

  .text_with_image_the_boi {
    margin-top: 0px;
    height: 430px;
  }

  .rectangle1_slide11_01_the_boi p {
      margin-bottom: 0;
      padding: 0px 5px 0px 0px;
  }

  .plus_minus_area_1_after_click{
    margin: -27px 0px 6px 290px;
  }

  .plus_minus_area_2_after_click{
    margin: -27px 0px 6px 290px;
  }

  .plus_minus_area_3_after_click{
    margin: -27px 0px 6px 290px;
  }

  .show_slide12_section1_the_boi, .show_slide13_section2_the_boi, .show_slide14_section3_the_boi {
    border-radius: 0px;
    border: 1px solid #2FB5B7;
    background-color: white !important;
    width: 90%;
    height: auto;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 10px 43px;
    float: left;
  }

}


/* All Devices except Desktop */
@media only screen and (max-device-width: 991.98px) {
  
}
  