
.card-container {
    height: 100%;
  }

  .head_mission_report_bottom_padd {
      padding-bottom: 50px;
  }

  .head_of_mission_report_font_style {
    font-family: Arial;
    font-size: 16px;
  }

  .flip_card_text_para1_mod4{
    margin-top: 20px;
  }

  .candc_cam_head_of_mission_report_disp_none {
    display: none !important;
  }

/* Accessibility Start */

.secure_scene_tab1 {
  height: 390px;
  background-color: transparent;
  border: none;
}

.secure_scene_tab2 {
  height: 390px;
  background-color: transparent;
  border: none;
}

.secure_scene_tab3 {
  height: 390px;
  background-color: transparent;
  border: none;
}

.secure_scene_tab4 {
  height: 390px;
  background-color: transparent;
  border: none;
}

.flipcard1_tab:focus{
  outline: 2px solid #000;
  height: 390px;
}

.flipcard2_tab:focus{
  outline: 2px solid #000;
  height: 390px;
}

.flipcard3_tab:focus{
  outline: 2px solid #000;
  height: 390px;
}

.flipcard4_tab:focus{
  outline: 2px solid #000;
  height: 390px;
}

/* Accessibility End */

  .topPadding50 {
    padding-top: 0px;
  }
  
  .arrowicon {
    display: inline-block;
    position: absolute;
    right: -3%;
    top: 50%;
    width: 10px;
    height: 10px;
  }
  
  .card-flipcard .side:not(.back) p {
    font-size: 1rem;
  }
  
  .card-flipcard .side.back p {
    /* height: 200px; */
    overflow: auto;
    /* text-align: justify; */
  }


.card .side p {
    padding: 36px 30px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial;
    color: #053296
}


.card .back p {
    font-size: 15px;
    padding: 0 10px;
    text-align: left;
    color: #37568c;
}
.headofmission-page p{
  font-weight:500;
}

/* Flipcard Css Start */

.mission_report .card-container {
cursor: pointer;
height: 330px;
perspective: 600;
position: relative;
width: 100%;
display: inline-flex;
justify-content: center;
}

.mission_report .card {
height: 100%;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
width: 100%;
margin: 10px;
float: left;
box-shadow: 1px 1px 10px #ddd;
height: 391px;
justify-content: center;
display: flex;
}

/*.mission_report .card:hover {
transform: rotateY(180deg);
}*/

.mission_report .card .side {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 6px;
height: 320px;
position: absolute;

width: 100%;
text-align: center;
left: 0px;
top: 30px;
}
.headofmission-page .card.mobile__arrow .side img{
    width: 100%;
    height: 255px;
    object-fit: cover;
}
.mission_report.headofmission-page .card .side img {
    padding: 0px 0 0 0;
    width: 100%;
    height: 298px;
    object-fit: cover;
}
.headofmission-page.mission_report .card .side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    height: 320px;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    top: 0px;
}
.headofmission-page.mission_report .card .side.back {
    text-align: left;
    padding: 10px;
}
.headofmission-page.mission_report .card .side p {
    padding: 10px 10px;
    margin: 0;
    display: flex;
    min-height: 91px;
    align-items: center;
    justify-content: space-around;
}
.headofmission-page.mission_report .card .side.back p {
    padding: 0px 0px;
    margin: 0;
    display: flex;
    min-height: 91px;
    align-items: center;
    justify-content: space-around;
}
.headofmission-page.mission_report .card .side.back p {
    align-items: center;
    display: block;
}
.headofmission-page.mission_report .card .back h5 {
   margin:0px 0px 0px 0px;
    padding: 10px;
}
.headofmission-page .card-container{
    margin: 0 auto
}

.mission_report .card .side img {
/*border-radius: 150px;
max-width: 96px;*/
padding: 0px 0 0 0;
}

.mission_report .card .side p {
padding: 36px 30px;
margin: 0;
font-size: 16px;
font-weight: 400;
font-family: Arial;
color: #053296
}

.mission_report .card .back {

text-align: center;
-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);
width: 100%;
left: 0;

}

.mission_report .card .back h5 {
font-size: 16px;
font-family: Arial;
font-weight: bold;
margin: -14px 0 7px;
color: #053296;
}

.mission_report .card .back p {
font-size: 15.5px;
padding: 0 10px;
text-align: left;
color: #053296;
}

.arrowicon {
align-items: center;
display: flex;
}

.hidden-md {
display: none;
}

.flip-card-text {
font-size: 16px;
/* padding: 0px 56px; */
font-family: Arial;
color: #000000;
}

.flip-card-text .question {
font-family: Arial;
font-style: italic;
color: #CF5F1B;
/*font-weight:bold;*/
}

/* Flipcard Css End */


/* ---- Image creidts code starts---- */

.Asset_58_candc_head_of_mission_report {
    width: 50% !important;
    height: auto !important;
  }

  .camera_white_patch_head_of_mission_report {
    display: none;
  }

  .candc_cam_head_of_mission_report:hover + .camera_white_patch_head_of_mission_report {
    display: block;
  }

.common_assets_candc_head_of_mission_report {
    display: flex;
    width: 200px;
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 999;
    align-items: center;
  }

  .candc_cam_head_of_mission_report {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.camera_white_patch_head_of_mission_report {
    width: 145px;
    background: #ffffff;
    color: #000000;
    height: 36px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 12px;
    position: relative;
    left: 2px;
    text-align: center;
    transition: 0.5s;
    /* opacity: 1; */
  }

  .candc_cam_head_of_mission_report:focus + .camera_white_patch_head_of_mission_report {
    display: block;
  }

/* ---- Image creidts code end---- */

  
  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 992px) {
  }
  
  /* iPads (landscape) ----------- */

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .mission_report .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        /*transform-style: preserve-3d;*/
        -webkit-transition: all 1s ease-in-out;
        /*transition: all 1s ease-in-out;*/
        -webkit-transition: -webkit-transform 1s;
        /*transition: transform 1s;*/
        -webkit-perspective: 300px;
        /*perspective: 300px;*/
        width: 100%;
        margin: 10px;
        float: left;
        box-shadow: 1px 1px 10px #ddd;
        height: 391px;
        justify-content: center;
        display: flex;
    }

    .flipcard_original_mod3 {
        -webkit-transform: rotateY(180deg);
         /*transform: rotateY(180deg); */
    }

    /*.mission_report .card .side .back {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 6px;
      left: 0px;
      top: 0px;
    }*/
    
    .card .back p {
      font-size: 13px;
      padding: 0px 10px 0px;
      text-align: left;
      color: #37568c;
    }
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 991.98px) and (orientation: portrait) {
    .mission_report .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        /*transform-style: preserve-3d;*/
        -webkit-transition: all 1s ease-in-out;
        /*transition: all 1s ease-in-out;*/
        -webkit-transition: -webkit-transform 1s;
        /*transition: transform 1s;*/
        -webkit-perspective: 300px;
        /*perspective: 300px;*/
        width: 100%;
        margin: 10px;
        float: left;
        box-shadow: 1px 1px 10px #ddd;
        height: 391px;
        justify-content: center;
        display: flex;
    }

    .flipcard_original_mod3 {
        -webkit-transform: rotateY(180deg);
         /*transform: rotateY(180deg); */
    }

  }
  
  /* Mobile (landscape) ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-width: 767.98px) and (orientation: landscape) {
    .mission_report .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        /*transform-style: preserve-3d;*/
        -webkit-transition: all 1s ease-in-out;
        /*transition: all 1s ease-in-out;*/
        -webkit-transition: -webkit-transform 1s;
        /*transition: transform 1s;*/
        -webkit-perspective: 300px;
        /*perspective: 300px;*/
        width: 100%;
        margin: 10px;
        float: left;
        box-shadow: 1px 1px 10px #ddd;
        height: 391px;
        justify-content: center;
        display: flex;
    }

    .flipcard_original_mod3 {
        -webkit-transform: rotateY(180deg);
        /*transform: rotateY(180deg); */
    }

  }
  
  /* Mobile (portrait) ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-width: 767.98px) and (orientation: portrait) {
    .mission_report .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        /*transform-style: preserve-3d;*/
        -webkit-transition: all 1s ease-in-out;
        /*transition: all 1s ease-in-out;*/
        -webkit-transition: -webkit-transform 1s;
        /*transition: transform 1s;*/
        -webkit-perspective: 300px;
        /*perspective: 300px;*/
        width: 100%;
        margin: 10px;
        float: left;
        box-shadow: 1px 1px 10px #ddd;
        height: 391px;
        justify-content: center;
        display: flex;
    }

    .flipcard_original_mod3 {
        -webkit-transform: rotateY(180deg);
        /*transform: rotateY(180deg);*/
    }

  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .mission_report .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        /*transform-style: preserve-3d;*/
        -webkit-transition: all 1s ease-in-out;
        /*transition: all 1s ease-in-out;*/
        -webkit-transition: -webkit-transform 1s;
        /*transition: transform 1s;*/
        -webkit-perspective: 300px;
        /*perspective: 300px;*/
        width: 100%;
        margin: 10px;
        float: left;
        box-shadow: 1px 1px 10px #ddd;
        height: 391px;
        justify-content: center;
        display: flex;
    }

    .flipcard_original_mod3 {
        -webkit-transform: rotateY(180deg);
        /*transform: rotateY(180deg);*/
    }
  }
  
  /* All Devices except Desktop */
  @media only screen and (max-device-width: 991.98px) {

    .mission_report .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        /*transform-style: preserve-3d;*/
        -webkit-transition: all 1s ease-in-out;
        /*transition: all 1s ease-in-out;*/
        -webkit-transition: -webkit-transform 1s;
        /*transition: transform 1s;*/
        -webkit-perspective: 300px;
        /*perspective: 300px;*/
        width: 100%;
        margin: 10px;
        float: left;
        box-shadow: 1px 1px 10px #ddd;
        height: 391px;
        justify-content: center;
        display: flex;
    }

    .flipcard_original_mod3 {
        -webkit-transform: rotateY(180deg);
        /*transform: rotateY(180deg);*/
    }

    .Slide4to8 .flip-card-text {
      padding: 0px 16px;
      text-align: justify;
    }


   .card-flipcard .side.back p {
        height: 200px;
        overflow: visible;
    }
  
    /* .card-flipcard:nth-child(2)::after {
      left: 50%;
      top: 100%;
      right: auto;
      transform: rotate(90deg);
    }
  
    .card-flipcard:nth-child(3)::after {
      left: -5%;
      top: 50%;
      transform: rotate(180deg);
    } */
  
    .arrow2 {
      top: 103%;
      left: 50%;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  
    .arrow3 {
      left: -3%;
      top: 50%;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    



  }

@media only screen and (max-width: 767px) {
  .Slide16.mission_report.topPadding50.head_mission_report_bottom_padd.headofmission-page.bg-common{
    padding-top:20px!important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}
  
  