

.module-quiz-page .quiz__start__section.quiz__start__section_custum{
  max-height:675px;
  box-shadow: 2px 2px 11px #7f7c7c;
}

.quiz_normal_text_mod4 {
  color: #000;
}

.m-4 {
  margin: 0.5rem !important;
}

/* Accessibility Start */

.module_quiz_start_btn_tab:focus{
  outline: 2px solid #000 !important;
}

/* Accessibility End */

.quiz__continue__btn {
    font-family: "Arial";
    background: #057b95;
    color: #fff;
    font-weight: bold;
    padding: 6px 60px;
    border-radius: 0;
    margin: 10px 0px 10px 0px;
}

.quiz__section {
  font-weight: normal;
}

#scoreboard__chart{
  margin-top: -30px;
}

.module-quiz-page #question {
    padding-left: 79px;
     font-weight: normal; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: revert;
    /*flex-direction: column-reverse;*/
    border-radius: 2px;
}

.module-quiz-page .quiz__image img{
  width:100%;
}
.module-quiz-page .quiz__start__section.quiz__start__section_custum .quiz__image {
    margin: 0px 0px -1px 0px;
    padding: 0px 0px 0px 0px;
}
.module-quiz-page #question_options .control {
    display: flex;
}
.module-quiz-page #question_options .control > span {
    margin:0px;
    padding-left:22px;
}
.module-quiz-page #question_options .control input {
    position: absolute;
    margin: 6px 0px 6px 0px;
   }
   #scoreboard__section #scoreboard__title p{
    margin-bottom:0px;
   }
   .quiz-start-btn-mar-top{
    margin-top:3rem;
   }

.start__quiz__submit__btn.disabled{
  opacity: 0.65;
	pointer-events: none;
}

/* Next Back Functionality Start */

.common_quiz_next_back{
  margin-top: 2rem;
}

.Quiz_Mod4_Next_Prev{
  padding: 20px 10px;
    width: 100%;
}

.quiz_prev_mod4{
  position: absolute;
    cursor: pointer;
    left: 30%;
    color: black;
    top: 0%;
}

.quiz_next_mod4{
  position: absolute;
    cursor: pointer;
    right: 30%;
    color: black;
    top: 0%;
}

#question__section img.disabled{
  opacity: 0.5;
  cursor: unset;
}

.common_pagination_circle_mod4{
  display: inline-flex;
}

.pagination_circle1_mod4{
  height: 11px;
    width: 11px;
    border: 1px solid #3087C8;
    border-radius: 5px;
    margin: 0px 5px;
}

.pagination_circle2_mod4{
  height: 11px;
    width: 11px;
    border: 1px solid #3087C8;
    border-radius: 5px;
    margin: 0px 5px;
}

.pagination_circle3_mod4{
  height: 11px;
    width: 11px;
    border: 1px solid #3087C8;
    border-radius: 5px;
    margin: 0px 5px;
}

.pagination_circle4_mod4{
  height: 11px;
    width: 11px;
    border: 1px solid #3087C8;
    border-radius: 5px;
    margin: 0px 5px;
}

.pagination_circle5_mod4{
  height: 11px;
    width: 11px;
    border: 1px solid #3087C8;
    border-radius: 5px;
    margin: 0px 5px;
}

@media (min-width: 0px) and (max-width: 767px){
  .common_quiz_next_back{
    margin-top: 1rem;
  }

  .quiz_prev_mod4 {
    left: 20%;
  }
  
  .quiz_next_mod4{
    right: 20%;
  }
}

@media (min-width: 0px) and (max-width: 767px) and (orientation: landscape){
  .common_quiz_next_back{
    margin-top: 1rem;
  }

  .quiz_prev_mod4 {
    left: 35%;
  }
  
  .quiz_next_mod4{
    right: 35%;
  }
}

  .btn.quiz__continue__btn.disabled{
    opacity: 0.65;
      background: gray;
  }

/* Next Back Functionality End*/


/*media queries for mobile device start*/
@media only screen and (max-width: 767px) {
       .quiz-start-btn-mar-top{
    margin-top:1rem;
   }
   .module-quiz-page{
    padding-top:20px;
   }

  }

  /*media queries for mobile device end*/

  /*media queries for tablet device*/
  @media (min-width: 768px) and (max-width: 1024px) {
   .module-quiz-page .quiz__start__section .quiz__image img {
    max-width: 100%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 100%;
}
.module-quiz-page .quiz__right_image {
   
    bottom: initial;
}
.module-quiz-page .quiz__right_image {
    display: none;
}
  }
  /*media queries for tablet device end*/



/*media queries for desktop device start*/
  @media (min-width: 1024px) {

    


  }
  /*media queries for desktop device end*/



  /*media queries for mobile device start*/

/* Desktops and laptops ----------- */
@media only screen and (min-width: 992px) {

  #question__section, #scoreboard__section {
     padding: 0px 0; 
  }

}


/*** Mpbile Landscape *****/

@media only screen and (min-device-width: 360px) and (max-device-width: 767.98px) and (orientation: landscape) {

   #scoreboard__chart{
        margin-top: -10px;
      }

}

/* Mobile (portrait) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-width: 767.98px) and (orientation: portrait) {

      #scoreboard__chart{
        margin-top: -40px;
      }

}

/*** Ipad Ptrait*****/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  .quiz__section {
  padding: 0px 0 0 0;
  }

  #question__section{
    margin-top: 20px;
  }

  #scoreboard__chart{
    margin-top: 0px;
  }

  .quiz__start__section_custum{
    margin-top: 20px;
  }

  .quiz__continue__btn {
      font-family: "Arial";
      background: #057b95;
      color: #fff;
      font-weight: bold;
      padding: 6px 60px;
      border-radius: 0;
      margin: 10px 0px 10px 0px;
  }

  .common_quiz_next_back{
    margin-top: 2rem;
  }

}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

  .quiz__section {
    padding: 0px 0 0 0;
  }

  .quiz__continue__btn {
      font-family: "Arial";
      background: #057b95;
      color: #fff;
      font-weight: bold;
      padding: 6px 60px;
      border-radius: 0;
      margin: 10px 0px 10px 0px;
  }

  .common_quiz_next_back{
    margin-top: 1rem;
  }

}

/* All Devices except Desktop */
@media only screen and (max-device-width: 991.98px) {
 
 .quiz__start__section h6 {
    color: #02374D;
    font-weight: bold;
    font-size: 22px;
    font-family: arial;
     margin-top: 0px; 
  } 
}