.introduction_mod6_pt-5, .py-5 {
    padding-top: 4.5rem!important;
}

.administrator-left-box p {
    font-weight: 500;
    color: #000;
    margin-bottom: 0px;
    line-height: 24px;
}
.administrator-right-box img{
  width:100%;
}
.administrator-left-box{
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}
/* .description{
    width: 95%;
    margin: 0 auto;
} */
.box-shadow-custum{
  box-shadow: 2px 2px 11px #7f7c7c;
  width: 90%;
  margin: 0px 0px 80px 50px;
  position: relative;
  top: 100px;
}

.m6_font_style {
  font-family: Arial;
  font-size: 16px;
}

.custom_tooltip_mod3 {
    color: #900000 !important;
}

.box_shadow_custum_mod9{
  background: #fff;
}

/*media queries for mobile device start*/
@media only screen and (max-width: 767px) {
     .description{
    width:100%;
}
/* .container{
  width:100%;
  max-width:100%;
} */
.ipad-img{
  display:none;
}
.desktop-img{
   display:none;
}
.mobile-img{
    display:block;
    width: 100%;
    height: 474px !important;
}

.box-shadow-custum {
  box-shadow: 2px 2px 11px #7f7c7c;
  width: 100%;
  margin: 0px 0px 0px 0px;
  position: relative;
  top: 10px;
  float: left;
  margin-bottom: 30px;
}
.administrator-left-box {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 22px;
}

.common-heading h3.common_heading_introduction_mod6{
      color: #02374d;
      font-size: 20px;
      font-weight: 600;
      font-family: "Arial";
      line-height: 30px;
      padding-bottom:15px;
      margin: 0px 0px 0px 0px !important;
}

  }

  /*media queries for mobile device end*/


/*media queries for desktop device start*/
  @media (min-width: 1024px) {

    .administrator-left-box {
      padding-top: 0px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    .administrator-right-box img.img-fluid.desktop-img{
             width:100%;
             max-width:unset;
             height: 405px;
             padding: 0px 0px 0px 0px;
    }
   .rectangle_slide3 {
    position: relative;
    left: -30px;
}
.jumbotron.vertical-center{
       /* display: flex; */
   
    /* align-items: center; */
    width:100%;
    height: 650px;
}

  }

  @media only screen and (min-width: 992px){
  .jumbotron {
      height: 650px;
  }
}
  /*media queries for desktop device end*/

  @media (min-width: 768px) and (max-width: 1040px){
    .common-heading h3.common_heading_introduction_mod6{
      color: #02374d;
      font-size: 20px;
      font-weight: 600;
      font-family: "Arial";
      line-height: 30px;
      padding-bottom:15px;
      margin:0px 0px 0px 0px;
    }

    .box_shadow_custum_mod9 {
      top: 30px;
    }

    .box_shadow_custum_mod9{
      box-shadow: 2px 2px 11px #7f7c7c;
      width: 100%;
      margin: 0px 0px 0px 0px;
      position: relative;
    }

  }

  @media (min-width: 768px) and (max-width: 1040px) and (orientation: landscape) {
    .common-heading h3.common_heading_introduction_mod6{
      color: #02374d;
      font-size: 20px;
      font-weight: 600;
      font-family: "Arial";
      line-height: 30px;
      padding-bottom:15px;
      margin: 20px 0px 0px 0px;
    }

    .administrator-left-box {
      padding-top: 0px;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }